.sound-bar{
    background-color: ghostwhite;
    border-radius: 5pt;
    width: 0.5%;
    margin-left: 0.5%;
}

.volume-profile{
    height: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*.sound-range {
    -webkit-appearance: none;
    appearance: none; 
    outline: none;
}
  

.sound-range::-webkit-slider-runnable-track {
    height: 1px;
    background: #ccc;
}
  

.sound-range::-moz-range-track {
    height: 1px;
    background: #ccc;
    border: none;
}

.sound-range::-moz-range-progress {
    height: 1px;
}
  
  

.sound-range::-webkit-slider-thumb {

    -webkit-appearance: none;
    appearance: none; 

    height: 15pt;
    width: 15pt;
    color: #fff;
    cursor: grab;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15pt 15pt;
}

.sound-range::-moz-range-thumb {
    appearance: none; 
    height: 15pt;
    width: 15pt;
    color: #fff;
    cursor: grab;
    border-style: none;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15pt 15pt;
    transform: translate(0, 50%);
    position: absolute;
}

.sound-range.left::-webkit-slider-thumb {
    background-image: url("/icons/cursor_left.png");
}

.sound-range.left::-moz-range-thumb {
    background-image: url("/icons/cursor_left.png");
}

.sound-range.right::-webkit-slider-thumb {
    background-image: url("/icons/cursor_right.png");
}

.sound-range.right::-moz-range-thumb {
    background-image: url("/icons/cursor_right.png");
}*/

